html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title  smart baby bed
    // 웹 폰트 아이콘 사용을 위한 외부 css파일 링크
    script(src='https://use.fontawesome.com/5db4e13ee1.js')
    link(rel='stylesheet', href='css/style.css')

    script.
      function deleteConfirm(){
        var btn = document.getElementsByName("btnRemove");
        var result = confirm("삭제하시겠습니까?");
        if(result == false){
          for(var i=0; i<btn.length;i++){
            btn[i].setAttribute('href', '/audio_list');
          }

        }
      }


  body
    // 헤더 영역
    header
      a(href='/')
        h1 logo
      ul#gnb
        // 웹 아이콘 배치
        li
          a(href='/member_list')
            i.fa.fa-user
            | Member
        li
          a(href='/video_list')
            i.fa.fa-video-camera
            | Video
        li
          a(href='/audio_list')
            i.fa.fa-volume-up
            | Audio
        li
          a(href='/product_list')
            i.fa.fa-bed
            | Product
      .snsSet
        a(href='#')
          img(src='img/sns1.png', alt='about')
        a(href='#')
          img(src='img/sns2.png', alt='contact')
        a(href='#')
          img(src='img/sns3.png', alt='facebook')
        a(href='#')
          img(src='img/sns4.png', alt='twitter')
        a(href='#')
          img(src='img/sns5.png', alt='etc')
    // 네비게이션 영역
    nav
      p= loginName
      img.welcome(src='img/welcome.png', alt='')
      a.logout(href='/logout')
        img(src='img/logout.png', alt='')
    // aside 영역
    aside
      ul.menu
        h1
          i.fa.fa-volume-up
          |   Audio
        br
        li
          a(href='/audio_list') 오디오 목록 조회
        li
          a(href='/audio_add') 오디오 파일 등록

    // section 영역
    section
      h1 오디오 업로드 목록
      br

      ul.tab_menu
        li(id='all')
          a(href='/audio') 전체
        li(id='whitesound')
          a(href='/audio/whitesound') 백색소음
        li(id='childsong')
          a(href='/audio/childsong') 동요
        li(id='classic')
          a(href='/audio/classic') 클래식
        li(id='etc')
          a(href='/audio/etc') 기타
      br

      table.item_list(cellspacing='0', border='1', summary='오디오 파일 리스트')
        caption 오디오 목록
        colgroup
          col
          col
          col
          col
          col
        thead
          tr
            th(scope='col') 오디오 고유번호
            th(scope='col') 오디오 제목
            th(scope='col') 오디오 카테고리
            th(scope='col') 오디오 파일명
            th(scope='col')

        tbody

          each item in items
            tr
              td= item.a_no
              td(class="contentTitle")
                a(href='/audio_list/'+item.a_no)= item.a_title
              td= item.a_category
              td= item.a_path
              td
                button
                  a(id='btnRemove', href='/audio_delete/'+item.a_no, onclick='deleteConfirm()') 삭제
    // footer 영역
    footer
