html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title  smart baby bed
    // 웹 폰트 아이콘 사용을 위한 외부 css파일 링크
    script(src='https://use.fontawesome.com/5db4e13ee1.js')
    link(rel='stylesheet', href='css/style.css')

    script.
      function deleteConfirm(){
        var btn = document.getElementsByName("btnRemove");
        var result = confirm("삭제하시겠습니까?");
        if(result == false){
          for(var i=0; i<btn.length;i++){
            btn[i].setAttribute('href', '/video_list');
          }

        }
      }

  body
    // 헤더 영역
    header
      a(href='/')
        h1 logo
      ul#gnb
        // 웹 아이콘 배치
        li
          a(href='/member_list')
            i.fa.fa-user
            | Member
        li
          a(href='/video_list')
            i.fa.fa-video-camera
            | Video
        li
          a(href='/audio_list')
            i.fa.fa-volume-up
            | Audio
        li
          a(href='/product_list')
            i.fa.fa-bed
            | Product
      .snsSet
        a(href='#')
          img(src='img/sns1.png', alt='about')
        a(href='#')
          img(src='img/sns2.png', alt='contact')
        a(href='#')
          img(src='img/sns3.png', alt='facebook')
        a(href='#')
          img(src='img/sns4.png', alt='twitter')
        a(href='#')
          img(src='img/sns5.png', alt='etc')
    // 네비게이션 영역
    nav
      p= loginName
      img.welcome(src='img/welcome.png', alt='')
      a.logout(href='/logout')
        img(src='img/logout.png', alt='')
    // aside 영역
    aside
      ul.menu
        h1
          i.fa.fa-video-camera
          |   Video
        br
        li
          a(href='/video_list') 영상 목록 조회
        li
          a(href='/video_add') 영상 파일 등록

    // section 영역
    section
      h1 동영상 업로드 목록
      br

      ul.tab_menu
        li
          a(href='/video', id='tab', onclick='select()') 전체
        li
          a(href='/video/cartoon', name='만화', id='tab') 만화
        li
          a(href='/video/study', name='교육영상', id='tab') 교육영상
        li
          a(href='/video/etc', name='기타', id='tab') 기타
      br

      table.item_list(cellspacing='0', border='1', summary='동영상 파일 리스트')
        caption 동영상 목록
        colgroup
          col
          col
          col
          col
          col
        thead
          tr
            th(scope='col') 동영상 고유번호
            th(scope='col') 동영상 제목
            th(scope='col') 동영상 카테고리
            th(scope='col') 동영상 파일명
            th(scope='col')
        tbody
          each item in items
            tr
              td= item.v_no
              td(class='contentTitle')
                a(href='/video_list/'+item.v_no)= item.v_title
              td= item.v_category
              td= item.v_path
              td
                button
                  a(name='btnRemove', href='/video_delete/'+item.v_no, onclick='deleteConfirm()') 삭제



    // footer 영역
    footer
